In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dress = pd.read_csv("dress.csv", header=None)

In [5]:
dress.head(6)

,0,1,2,3
0,_unit_id,category,category:confidence,image_url
1,851505458,ikat,0.3487,http://s3-eu-west-1.amazonaws.com/we-attribute...
2,851505459,plain,1,http://s3-eu-west-1.amazonaws.com/we-attribute...
3,851505460,polka dot,0.6709,http://s3-eu-west-1.amazonaws.com/we-attribute...
4,851505461,plain,1,http://s3-eu-west-1.amazonaws.com/we-attribute...
5,851505462,geometry,0.7035,http://s3-eu-west-1.amazonaws.com/we-attribute...

In [119]:
transation  = []
for i in range(0,15703):
    transation.append([str(dress.values[i,j]) for j in range (0,3)])

In [120]:
3*7/15703

0.0013373240782016175

In [121]:
from apyori import apriori

In [135]:
rules = apriori(transation,min_support = 0.001,min_confidence = 0.2,min_lift = 3 , min_length=3)

In [136]:
rules

In [137]:
results = list(rules)

In [138]:
print(results)

[RelationRecord(items=frozenset({'0.3462', 'OTHER'}), support=0.0011462777813156721, ordered_statistics=[OrderedStatistic(items_base=frozenset({'0.3462'}), items_add=frozenset({'OTHER'}), confidence=0.33962264150943394, lift=10.395895398874545)])]